<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Material Dashboard Heading</h4>
                    <p class="category">Created using Roboto Font Family</p>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <div class="title">
                            <h2>Typography</h2>
                        </div>
                        <div class="row">
                            <div class="tim-typo">
                                <h1><span class="tim-note">Header 1</span> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h1>
                            </div>
                            <div class="tim-typo">
                                <h2><span class="tim-note">Header 2</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </h2>
                            </div>
                            <div class="tim-typo">
                                <h3><span class="tim-note">Header 3</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </h3>
                            </div>
                            <div class="tim-typo">
                                <h4><span class="tim-note">Header 4</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </h4>
                            </div>
                            <div class="tim-typo">
                                <h5><span class="tim-note">Header 5</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </h5>
                            </div>
                            <div class="tim-typo">
                                <h6><span class="tim-note">Header 6</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </h6>
                            </div>
                            <div class="tim-typo">
                                <p><span class="tim-note">Paragraph</span>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Quote</span>
                                <blockquote>
                                 <p>
                                 لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                 </p>
                                 <small>
                                 نوشته شده توسط فلانی
                                 </small>
                                </blockquote>
                            </div>

                            <div class="tim-typo">
                                <span class="tim-note">Muted Text</span>
                                <p class="text-muted">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Primary Text</span>
                                <p class="text-primary">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Info Text</span>
                                <p class="text-info">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Success Text</span>
                                <p class="text-success">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Warning Text</span>
                                <p class="text-warning">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Danger Text</span>
                                <p class="text-danger">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                            <div class="tim-typo">
                                <h2><span class="tim-note">Small Tag</span>
                                    هدر به همراه زیرنویس کوچک <br>
                                    <small>زیر نویس در این مکان قرار میگیرد.</small>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
